<div class="container mt-4 d-flex justify-content-center">
  <button class="btn btn-primary" (click)="toggleCartVisibility()">
    SHOW CART ({{ (list$ | async)?.length || 0 }})
  </button>
</div>


<div class="container mt-4" *ngIf="isCartVisible">
  <table class="table table-bordered table-striped table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of list$ | async">
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>${{ p.price.toFixed(2) }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.quantity }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="delCart(p)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
